# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (if ever used)
Pods/

# Fastlane (if ever used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
*.ipa
*.dSYM.zip
*.dSYM

